Repository 1641project/Renekey, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js, ğŸ§ªTest

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update package.json
  package.json
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Change
  README.md
  packages/frontend/assets/renekey.png
  packages/frontend/src/pages/about-sharkey.vue
  packages/frontend/src/pages/welcome.entrance.a.vue
Labels: packages/frontend

about-sharkey.vue ➔ about-renekey.vue
  locales/ja-JP.yml
  packages/backend/migration/1605585339718-instance-pinned-pages.js
  packages/backend/migration/1678427401214-remove-unused.js
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/pages/about-renekey.vue
  packages/frontend/src/router.ts
  packages/frontend/src/ui/_common_/common.ts
Labels: packages/backend, packages/frontend

re:nekey仕様に。
  packages/frontend/assets/about-icon.png
  packages/frontend/src/pages/about-renekey.vue
  packages/frontend/src/pages/about.vue
Labels: packages/frontend

Translate to English
  locales/en-US.yml
Labels: none

一部のinstanceでは 運営会社/グループを表示するように。
  packages/frontend/src/pages/instance-info.vue
Labels: packages/frontend

Update 0.0.1-dev1
  package.json
Labels: none

Feature Supports Google Translate for translation platform
  package.json
  packages/backend/migration/1660183643857-multipleTranslationServices.js
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/backend/src/server/api/endpoints/notes/translate.ts
  packages/frontend/src/pages/admin/external-services.vue
Labels: packages/backend, packages/frontend

FIx
  packages/frontend/src/pages/about-renekey.vue
Labels: packages/frontend

Update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

Fix
  package.json
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/NodeinfoServerService.ts
Labels: packages/backend

feat(client): 翻訳機能を利用しやすくする。
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkSubNoteContent.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

Fix UI破壊を防止
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkSubNoteContent.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

Update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

feat: 一度に2つ以上の絵文字をアップロードすることができるように。
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/emoji/adds.ts
  packages/frontend/src/pages/custom-emojis-manager.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

feat: notification grouping
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/NotificationService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/models/Notification.ts
  packages/backend/src/models/json-schema/notification.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/i/notifications-grouped.ts
  packages/backend/src/server/api/endpoints/notifications/create.ts
  packages/backend/src/types.ts
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/store.ts
Labels: packages/backend, packages/frontend

Update package.json
  package.json
Labels: none

.github/labeler.yml:

'packages/backend':
- packages/backend/**/*

'packages/frontend':
- packages/frontend/**/*

'packages/sw':
- packages/sw/**/*

'packages/misskey-js':
- packages/misskey-js/**/*

'ğŸ§ªTest':
- cypress/**/*
- packages/backend/test/**/*
